body,
html {
  /* margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px; */
}

.full-height {
  height: 100%
}

h1,
h2,
h3 {
  font-family: 'Nothing You Could Do', cursive;
  /* color: #453BA5; */
}

#outer-layer {
  /* position: absolute; */
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#index-main {}

#index-content {
  /* position: fixed; 
  right: 0; */
}

#home-graphic-container {
  width: 200px;
  height: 200px;
}

#home-graphic-img {
  height: 100%;
  width: 100%;
}

#manage-client-avatar-container {
  width: 200px;
  margin: auto;
  height: 200px;
}

#manage-client-avatar-container:hover {
  cursor: pointer;
}

#manage-client-avatar {
  height: 196px;
  width: 196px;
  padding: 0;
  margin: 0;
}

#manage-user-avatar-container {
  width: 200px;
  margin: auto;
  height: 200px;
}

#manage-user-avatar-container:hover {
  cursor: pointer;
}

#manage-user-avatar {
  height: 196px;
  width: 196px;
  padding: 0;
  margin: 0;
}

#client-list-avatar-container {
  height: 40px;
  width: 40px;
  padding: 0;
  display: inline-block;
  cursor: pointer;
}

#client-list-avatar {
  height: 100%;
  width: 100%;
}

#client-list-container {
  overflow-y: scroll;
  width: 50%;
  min-width: 240px;
}

.client-list-name-container {
  max-width: 75px;
}

.client-list-name-container:hover {
  cursor: pointer;
}

#client-list-spacer {
  height: 10vh;
}

#edit-wakeup-buttons-container {
  padding: 0px 5px !important;
}

#schedule-avatar-container {
  width: 200px;
  margin: auto;
  height: 200px;
}

#schedule-avatar-container:hover {
  cursor: pointer;
}

#schedule-avatar {
  height: 200px;
  width: 200px;
  padding: 0;
  margin: 0;
}

#schedule-list-container {
  margin-top: 15px;
  width: 96%;
  max-width: 400px;
}

.schedule-event {
  padding: 6px 0px !important;
}

.md-no-style {
  padding: 0px 3px !important;
}

.schedule-list-event-name {
  font-family: 'Cabin', sans-serif;
}

.schedule-list-event-time {
  font-family: 'Pacifico', cursive;
  border-radius: 5px;
  height: 24px;
}

.schedule-list-info-wrapper {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0px 10px;
  border-radius: 5px;
  max-height: 48px !important;
  /* white-space: nowrap;
  max-width: 40vw;
  overflow: hidden; */
}

.md-list-item-inner {
  max-height: 48px !important;
}

#nav-container {
  padding-left: 5px;
  background-color: #673AB7;
  color: white;
}


/* #nav-menu-icon{
  position: absolute;
  right: 36px;
  top: 12px;
  color: white;
  z-index: 1;
  background-color: rgba(0,0,0,0.1);
  border-radius: 5px;
  padding: 2px;
} */

#nav-right-bumper {
  height: 48px;
  font-family: 'Nothing You Could Do', cursive;
  color: white;
  padding-left: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

#nav-right-bumper :hover {
  cursor: pointer;
}

#nav-avatar-container {
  height: 48px;
  width: 53px;
  padding-left: 5px;
  /* padding: 0;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  display: inline-block; */
}

#nav-brand-container {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 2.1em;
}

#nav-brand-container:hover {
  cursor: pointer;
}

#nav-brand-container>span {
  font-weight: 700;
  /* color: #453BA5; */
  text-decoration: underline;
}

#nav-avatar {
  height: 100%;
  width: 100%;
}

md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
  min-width: 150px !important;
  width: 25vw !important;
  max-width: 300px !important;
}

#nav-client-list-button {
  /* background-color: #AEA7E7 */
}

.event-complete,
#schedule-add-event-button {
  background-color: #d1c4e9;
}

.event-dismiss {
  background-color: #ffa4a2;
}

.event-snooze {
  background-color: #ffe082;
}

.event-wakeup,
#schedule-edit-wakeup-button {
  background-color: #9a67ea
}

.event-sleep {
  background-color: #ffc046
}

hr {
  margin: 0;
  /* border-color: #707022; */
}

#add-client-button-container {
  width: 100%;
}

#add-client-form-container {}

#add-client-form-container>* {
  width: 100%;
}

#about-wrapper-div{
  width: 95%;
  max-width: 500px;
}

.about-list{
  /* padding-top: 3px !important; */
  list-style: none;
}

#about-link{
  font-family: 'Cabin', sans-serif;  
}