<md-dialog aria-label="Edit wakeup">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edit Wakeup</h2>
        <span flex></span>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>Enter Time</h2>
        <input ng-model="ewc.wakeUpTime" type="time" ></input>
        {{ewc.wakeUpTime}}
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="$mdDialog.hide()" md-autofocus>
        Cancel
      </md-button>
      <span flex></span>
      <md-button ng-click="ewc.setWakeUpNow()">
        Now
      </md-button>
      <md-button ng-click="ewc.editWakeUp()">
        Edit
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>