<md-dialog aria-label="Edit wakeup">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h1>Edit Wakeup</h1>
        <span flex></span>
      </div>
    </md-toolbar>
    <div layout-fill layout="column" layout-align="center center">
      <md-dialog-content>
        <div class="md-dialog-content">
          <h2>Enter Time</h2>
          <input ng-model="ewc.wakeUpTime" type="time"></input>
        </div>
      </md-dialog-content>

      <md-dialog-actions id="edit-wakeup-buttons-container" layout="row" layout-align="space-around center" layout-fill>
        <md-button ng-click="ewc.cancel()">
          Cancel
        </md-button>
        <span flex></span>
        <md-button class="md-primary md-raised" ng-click="ewc.setWakeUpNow()">
          Now
        </md-button>
        <md-button ng-click="ewc.editWakeUp()">
          Edit
        </md-button>
      </md-dialog-actions>
    </div>
  </form>
</md-dialog>