<div ng-controller="NavController as nc">
  <a href="#">Fussbudget</a>
  <div id="nav-avatar-container">
    <a href="#/user">
      <img id="nav-avatar" ng-src="{{nc.userObject.avatar_url}}">
    </a>
  </div>

  <!-- ******** THIS IS A TEMP NAV FOR DEBUGGING ********* -->
  <div>
    <a href="#/add-client">
      Add Client
    </a>
    <br/>
    <a href="#/client-list">
      Client List
    </a>
    <br/>
    <br/>
    <a href="#/home">
      Home
    </a>
    <br/>

  </div>
  <!-- ******** END TEMP NAV ********* -->

</div>