<section layout="column" flex layout-align="center center" class="full-height">
  <h2>
    Add Client
  </h2>


  <form ng-submit="acc.addClient(client)" id="add-client-form-container" layout="column" flex layout-align="space-around start"
    layout-padding layout-margin>
    <md-input-container>
      <label>Name: </label>
      <input ng-model="client.name">
    </md-input-container>
    <md-input-container>
      <label>Date of Birth: </label>
      <md-datepicker ng-model="client.date_of_birth" md-placeholder="Enter date"></md-datepicker>
    </md-input-container>
    <md-input-container>
      <label>Notes: </label>
      <input ng-model="client.notes">
    </md-input-container>
    <md-input-container>
      <label>Avatar URL:     </label>
      <input ng-model="client.avatar_url">
    </md-input-container>
    <div layout="row" layout-align="space-around center" id="add-client-button-container">
      <md-button class="md-raised md-primary" type="submit">Submit</md-button>
    </div>
  </form>

</section>

<!-- ******** FOR REFERENCE *********
  ClientSchema = new Schema({
    name: {type: String, required: true},
    avatar_url: {type: String},
    date_of_birth: {type: Date},
    schedule_template: [
      {
        name: {type: String, required: true},
        time: {type: Number, required: true},
        duration: {type: Number, required: true},
        notes: {type: String}
      }
    ],
    schedule: [
      {
        name: {type: String, required: true},
        time: {type: Number, required: true},
        duration: {type: Number, required: true},
        notes: {type: String}
      }
    ],
    primary_caregiver: {type: String, required: true},
    secondary_caregivers: [
      {
        name: {type: String}
      }
    ],
    history: [
      {
        timestamp: {type: Date, default: Date.now},
        event_name: {type: String, required: true},
        interaction: {type: String, required: true},
        times_snoozed: {type: Number, default: 0},
        time_offset: {type: Number, default: 0}
      }
    ]
  },