<section layout="column" flex layout-align="space-between center" class="full-height">
    <h1>
        Login
    </h1>

    <h2 ng-if="lc.message != ''">{{lc.message}}</h2>
    <div id="login-form-container" >
            
    <form ng-submit="lc.login()" layout="column" layout-align="center center">
        <md-input-container>
            <label for="username">Username:</label>
            <input type="text" ng-model="lc.user.username" />
        </md-input-container>
        <md-input-container>
            <label for="password">Password:</label>
            <input type="password" ng-model="lc.user.password" />
        </md-input-container>
        <div>
            <a ng-href="#register">Register</a>
            <md-button type="submit" class="md-primary md-raised" >Log In</md-button>
        </div>
    </form>
        
    </div>
</section>