<section layout="column" flex layout-align="space-between center" class="full-height">
  <h1>Manage Client</h1>

  <div id="manage-client-avatar-container">
    <img id="manage-client-avatar" ng-src="{{mcc.currentClient.client[0].avatar_url}}">
  </div>

  <form ng-submit="mcc.editCurrentClient()" id="manage-client-form-container" layout="column" flex layout-align="space-around center"
    layout-padding layout-margin>
    <md-input-container>
      <label>Name: </label>
      <input ng-model="mcc.currentClient.client[0].name">
    </md-input-container>
    <md-input-container>
      <label>Date of Birth: </label>
      <md-datepicker ng-model="mcc.currentClient.client[0].date_of_birth" md-placeholder="Enter date"></md-datepicker>
    </md-input-container>
    <md-input-container>
      <label>Notes:</label>
      <input ng-model="mcc.currentClient.client[0].notes">
    </md-input-container>
    <div layout="row" layout-align="space-around center" id="manage-client-button-container">
      <md-button class="md-warn" ng-click="mcc.deleteClient()">Delete</md-button>
      <md-button ng-href="#/client-list">Cancel</md-button>
      <md-button class="md-raised md-primary" ng-click="mcc.editCurrentClient()">Submit</md-button>
      
    </div>


  </form>

</section>
