<section layout="column" flex layout-align="space-between center" >

  <h1>Schedule</h1>

  <div id="schedule-header" ng-href="#/manage-client/{{sc.currentClient.client[0]._id}}" layout="column" layout-align="center center">
    <div id="schedule-avatar-container">
      <img id="schedule-avatar" ng-src="{{sc.currentClient.client[0].avatar_url}}">
    </div>
    <h3>{{sc.currentClient.client[0].name}}</h3>
    
  </div>

  <div id="schedule-buttons-container">
    <md-button ng-click="sc.editWakeUpModal($event)" class="md-fab md-mini md-hue-1">
      <md-icon md-svg-src="images/ic_access_alarms_black_18px.svg"></md-icon>
    </md-button>

    <md-button ng-click="sc.addEvent()" class="md-fab md-mini md-primary">
      <md-icon md-svg-src="images/ic_add_alert_black_18px.svg"></md-icon>
    </md-button>

    <md-button ng-click="sc.saveAsDefault()" class="md-fab md-mini md-warn md-hue-1">
      <md-icon md-svg-src="images/ic_save_black_18px.svg"></md-icon>
    </md-button>
  </div>

  <div id="schedule-list-container">
    <div class="schedule-event" ng-class="{'event-complete': event.class == 'event-complete',
                 'event-snooze': event.class == 'event-snooze',
                 'event-dismiss': event.class == 'event-dismiss',
                 'event-wakeup': event.name == 'wakeup',
                 'event-sleep': event.name == 'sleep'}" ng-repeat="event in sc.loadedSchedule.list | orderBy: 'time'">
      <div ng-click="sc.editEvent(event)">{{event.name}}<br/> {{event.time | date: "hh:mm a" : "Z"}}</div>
      <button ng-click="sc.modifyEvent(event, 'event-complete')" ng-if="event.name != 'wakeup'">Complete</button>
      <button ng-click="sc.modifyEvent(event, 'event-dismiss')" ng-if="(event.name != 'wakeup') && (event.name != 'sleep') ">Dismiss</button>
      <button ng-click="sc.modifyEvent(event, 'event-snooze')" ng-if="event.name != 'wakeup'">Snooze</button>
      <br/>
      <hr>
    </div>

  </div>
</section>