<section layout="column" flex layout-align="space-between center" class="full-height">

    <h1>Manage User</h1>


    <div id="manage-user-avatar-container" ng-click="uc.pickAvatar($event)">
        <img id="manage-user-avatar" ng-src="{{uc.userObject.avatar_url}}">
    </div>

    <form ng-submit="uc.editCurrentUser(uc.userObject.userName, uc.userObject.avatar_url)" id="manage-user-form-container" layout="column"
        flex layout-align="space-around center" layout-padding layout-margin>
        <md-input-container>
            <label for="manage-user-name-input">Name: </label>
            <input id="manage-user-name-input" ng-model="uc.userObject.userName">
        </md-input-container>
        <div layout="row" layout-align="space-around center" id="manage-user-button-container">
            <md-button ng-click="uc.userService.logout()">Log Out</md-button>

            <md-button class="md-raised md-primary" ng-click="uc.editCurrentUser(uc.userObject.userName, uc.userObject.avatar_url)">Submit</md-button>
        </div>
    </form>
</section>